<app-navbar></app-navbar>
<!-- <router-outlet></router-outlet>-->
<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/IMG_2625.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
      <div class="container">
          <div class="owner">
              <div class="avatar">
                  <img src="./assets/img/faces/GlennAntoineRealtor.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              <div class="name">
                  <h4 class="title">Glenn Antoine<br /></h4>
                  <h6 class="description">Volunteer Pilot | Investor | Technology Leader | Innovator | Change Agent</h6>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                  <p>Experienced Technical leader of Software Engineering teams in an onsite/offshore model with a focus on software engineering best practices while working in many industries. Skilled in Agile Methodologies to include Scrum, Kanban, and Scrumban, all while operating in a number of lead roles with development teams across multiple technologies! </p>
                  <br />
              </div>
          </div>
          <br/>
      </div>
  </div>
</div>
<app-footer></app-footer> 